/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-size: 62.5%;
  text-decoration: none;
  color: #373d3f;
}
body {
  background: snow;
}
#wrapper {
  width: 70%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 10vh;
  justify-content: flex-end;
}
header nav {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}
header nav a {
  font-family: "Lato", sans-serif;
}
main .container {
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-flow: row nowrap;
  height: 80vh;
}
main .container h1 {
  font-size: 6rem;
  letter-spacing: 0.2rem;
  color: #373d3f;
  font-family: "Vollkorn", serif;
  margin-bottom: 2%;
}
main .container h2 {
  color: #a9a9a9;
  font-size: 2.7rem;
  font-family: "Vollkorn", serif;
}
main .container p {
  color: #a9a9a9;
  font-size: 1.7rem;
  line-height: 3rem;
  font-family: "Lato", sans-serif;
}
main .container .photo {
  padding: 5%;
  width: 40%;
  display: flex;
  align-content: center;
  justify-content: center;
}
main .container .about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 5%;
  width: 60%;
}
main {
  display: flex;
  flex-flow: column nowrap;
  height: 90vh;
}
main .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
section#projects .container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  height: 100vh;
}
section#projects .container .work-text {
  display: flex;
  justify-content: center;
  font-family: "Vollkorn", serif;
  font-size: 2rem;
}
section#projects .container .work-recent {
  display: flex;
  justify-content: space-between;
}
section#projects .container .work-recent .flex-child {
  width: 30%;
}
section#projects .container .work-recent .flex-child h2 {
  margin-bottom: 5%;
  text-align: center;
  font-family: "Vollkorn", serif;
  font-size: 1.7rem;
}
section#projects .container .work-recent .flex-child p {
  text-align: justify;
  font-family: "Lato", sans-serif;
}
footer .container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
footer .container .icon-container {
  display: flex;
  flex-flow: row nowrap;
  width: 25%;
  justify-content: space-evenly;
}
